<!DOCTYPE html>
<html>
<head>
    <title>CareerAI - Career Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>CareerAI</h1>
<h2>AI-Based Smart Career Guidance System</h2>

<form action="/predict" method="POST">

<label>CGPA (0 - 10):</label>

<input
    type="number"
    name="cgpa"
    min="0"
    max="10"
    step="0.01"
    oninput="if(this.value > 10) this.value = 10; if(this.value < 0) this.value = 0;"
    required
>

<label>Python:</label>
<select name="python">
<option>Yes</option>
<option>No</option>
</select>


<label>Java:</label>
<select name="java">
<option>Yes</option>
<option>No</option>
</select>


<label>SQL:</label>
<select name="sql">
<option>Yes</option>
<option>No</option>
</select>


<label>C++:</label>
<select name="cpp">
<option>Yes</option>
<option>No</option>
</select>


<label>HTML/CSS:</label>
<select name="html">
<option>Yes</option>
<option>No</option>
</select>


<label>Communication:</label>
<select name="communication">
<option>Excellent</option>
<option>Good</option>
<option>Average</option>
<option>Poor</option>
</select>


<label>Aptitude:</label>
<select name="aptitude">
<option>High</option>
<option>Medium</option>
<option>Low</option>
</select>


<label>Internship:</label>
<select name="internship">
<option>Yes</option>
<option>No</option>
</select>


<label>Certifications:</label>
<select name="certification">
<option>Yes</option>
<option>No</option>
</select>


<label>Career Interest:</label>
<select name="interest">

<option>AI Engineer</option>
<option>Data Scientist</option>
<option>Software Engineer</option>
<option>Web Developer</option>
<option>Cloud Engineer</option>
<option>Cyber Security Analyst</option>
<option>Data Analyst</option>
<option>Android Developer</option>

</select>


<button type="submit">
Predict Career
</button>


</form>

</div>

</body>
</html>